.nav-buttons {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #38B261;
}

.nav-buttons a {
    color: white;
    font-weight: bold ;
    text-decoration: none;
}

.nav-button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nav-button:hover {
    background-color: #2D8F4E;
    cursor: pointer;
}
